@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f7f5;
    color: #172b34;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
}

nav h2 {
    color: #1d5d75;
    letter-spacing: 2px;
}

nav div {
    display: flex;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: #172b34;
    font-size: 14px;
}

main {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 10%;
}

main p:first-child {
    color: #468faf;
    letter-spacing: 4px;
    font-size: 13px;
    margin-bottom: 20px;
}

h1 {
    font-family: Georgia, serif;
    font-size: 90px;
    line-height: 0.95;
    color: #1d5d75;
    margin-bottom: 30px;
}

main p {
    max-width: 500px;
    line-height: 1.7;
    margin-bottom: 30px;
}

main a {
    width: fit-content;
    text-decoration: none;
    background: #468faf;
    color: white;
    padding: 15px 25px;
    border-radius: 30px;
}